body{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fceabb+0,fccd4d+13,f8b500+69,fbdf93+100 */
background: rgb(252,234,187); /* Old browsers */
background: -moz-linear-gradient(top, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 13%, rgba(248,181,0,1) 69%, rgba(251,223,147,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(252,234,187,1) 0%,rgba(252,205,77,1) 13%,rgba(248,181,0,1) 69%,rgba(251,223,147,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(252,234,187,1) 0%,rgba(252,205,77,1) 13%,rgba(248,181,0,1) 69%,rgba(251,223,147,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93',GradientType=0 ); /* IE6-9 */
height: 100vh;
overflow:hidden;
}
h1{
	text-align: center;
	font-size: 3.75rem;
	margin-top: 30px;
	text-transform: uppercase;
}
.loginDiv{
	background-color: white;
	border-radius: 7px;
	min-height: 500px;
	margin-top: 15px;

}
.form-group{
	padding-top: 10px;
}